################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/**
/**/obj/**
/**/.vs/**
/Pickem/appsettings.json
/**pubxml.user
/PickemBot/config.json
/PickemBot/config.prod.json
